<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ClienteMapper">

	<select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
		select c.nombre ,
			c.documento ,
			c.telefono ,
			c.direccion ,
			c.email ,
			c.vetado ,    
			ir.id as idir ,
			ir.fechainiciorenta ,
			ir.fechafinrenta ,    
			i.id as idi ,
			i.nombre as nombrei ,
			i.descripcion as desci ,
			i.fechalanzamiento ,
			i.tarifaxdia ,
			i.formatorenta ,
			i.genero ,        
			ti.id as idti,
			ti.descripcion as descti	
		FROM VI_CLIENTES as c 
			left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
			left join VI_ITEMS as i on ir.ITEMS_id=i.id 
			left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
	</select>
	
	<select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
		select c.nombre,
			c.documento,
			c.telefono,
			c.direccion,
			c.email,
			c.vetado,    
			ir.id as idir,
			ir.fechainiciorenta ,
			ir.fechafinrenta ,    
			i.id as idi ,
			i.nombre as nombrei ,
			i.descripcion as desci ,
			i.fechalanzamiento ,
			i.tarifaxdia ,
			i.formatorenta ,
			i.genero ,        
			ti.id as idti ,
			ti.descripcion as descti	
		FROM VI_CLIENTES as c 
			left join VI_ITEMRENTADO as ir on c.documento=ir.CLIENTES_documento 
			left join VI_ITEMS as i on ir.ITEMS_id=i.id 
			left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
		WHERE c.documento = #{idcli}
	</select>
	
	<select parameterType="map" id="consultarItemRentado" resultMap="ItemRentadoResult">
		select ir.id as idir ,
			ir.fechainiciorenta ,
			ir.fechafinrenta ,
			i.id as idi ,
			i.nombre as nombrei ,
			i.descripcion as desci ,
			i.fechalanzamiento ,
			i.tarifaxdia ,
			i.formatorenta ,
			i.genero ,        
			ti.id as idti ,
			ti.descripcion as descti
		FROM VI_ITEMRENTADO as ir
			left join VI_ITEMS as i on ir.ITEMS_id=i.id 
			left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
		WHERE ir.ITEMS_id = #{idir} and ir.CLIENTES_documento = #{idcli}
	</select>
	
	<insert parameterType="map" id="agregarItemRentadoACliente">
		INSERT INTO VI_ITEMR<resultMap type='ItemRentado' id='ItemRentadoResult'>
		<id property='id' column='idir'/>		
		<result property='fechainiciorenta' column='fechainiciorenta'/>
		<result property='fechafinrenta' column='fechafinrenta'/>   
		<association property='item' resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper.ItemResult'/>
	</resultMap>ENTADO (CLIENTES_documento, ITEMS_id, fechainiciorenta, fechafinrenta) VALUES (#{idcli}, #{iditem}, #{fechai}, #{fechaf}); 
	</insert> 
	
	<insert parameterType="map" id="insertarCliente">
		INSERT INTO VI_CLIENTES (documento, nombre, telefono, direccion, email, vetado)
    	VALUES(#{cliente.nombre},#{cliente.documento},#{cliente.telefono},#{cliente.direccion},#{cliente.email},#{cliente.vetado}) 
	</insert>
	
	<resultMap type='Cliente' id='ClienteResult'>
		<id property='documento' column='documento'/>
		<result property='nombre' column='nombre'/>
		<result property='telefono' column='telefono'/>
		<result property='direccion' column='direccion'/>   
		<result property='email' column='email'/>
		<result property='vetado' column='vetado'/>   
		<collection property='rentados' ofType='ItemRentado' resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemRentadoMapper.ItemRentadoResult'></collection>
	</resultMap>
	
</mapper>